<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Http Request / Get users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid fixed>
  <ion-row class="ion-justify-content-center"> 
    <ion-col size-md="6">
        <ion-item *ngFor='let user of users'> 
          <ion-avatar slot="start">
              <img [src]="user.picture.medium">
          </ion-avatar>
          <ion-label>
            <h2>{{ user.name.first}}</h2>
            <h3>{{ user.email }}</h3>
          </ion-label>
        </ion-item>
    </ion-col>    
  </ion-row>      
</ion-grid>

</ion-content>
